<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/task/edit/{{task.idtask}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{task.name_task}}" class="form-control" name="name_task" placeholder="Título" autofocus required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-succes btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>