<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">BIENVENIDO A TU ORGANIZADOR DE TAREAS</h1>
            <h3 class="mb-5">Que no se te olvide hacer tus pendientes</h3>
            <a href="/signin" class="btn btn-outline-light">
                ¡Vamos a iniciar!
            </a> 
        </div>
    </header>
</main>