<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido</h3>
                    <h3>{{user.name}}</h3>
                    <a href="/task" class="btn btn-secundary m-4">
                        Organiza tus tareas
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>