<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ORGANIZADOR DE TAREAS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task">Organizador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrate</a>
          </li>
        {{/if}}
        
    </div>
  </div>
</nav>