<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Correo electronico" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="last_name" placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="country" placeholder="Pais">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" name="phone" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>